node_modules/
dist/
release/
build/

package-lock.json

**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.webp
**/*.ico
**/*.icns
**/*.mp3
**/*.ttf
**/*.otf
**/*.woff
**/*.woff2
**/*.gltf
**/*.glb
**/*.stl
**/*.obj
**/*.ply
**/*.pcd

