<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'none'; base-uri 'none'; object-src 'none'; form-action 'none'; connect-src 'self' blob: nw-assets: data:; script-src 'self' blob:; style-src 'unsafe-inline'; img-src 'self' data: blob: nw-assets:; media-src 'self' data: blob: nw-assets:; font-src 'self' data: blob: nw-assets:;"
    />
    <title>nw_wrld module sandbox</title>
  </head>
  <body>
    <div
      style="-webkit-app-region: drag; position: fixed; top: 0; left: 0; width: 100%; height: 30px; z-index: 9999; background: transparent;"
    ></div>
    <script src="nw-sandbox://app/moduleSandbox.js"></script>
  </body>
</html>


